.a11y-skipper {
	align-items: flex-start;
	background: var(--c-a11y-skipper-branding);
	color: var(--c-a11y-skipper-branding-inverse);
	display: flex;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	justify-content: space-between;
	padding: 1em;
	position: relative;
	z-index: 999; /* just an agressive default value */

	@media ( --bp-small ) {
		align-items: center;
	}
}

.a11y-skipper__menu {
	margin-top: 1em;
	order: 2;
	position: relative;

	@media ( --bp-small ) {
		margin-right: 1em;
		margin-top: 0;
		order: 0;
	}

}

.a11y-skipper__actions {
	display: flex;
	flex-direction: column;
	width: 100%;

	@media ( --bp-small ) {
		flex-direction: row;
	}

}

.a11y-skipper__skips,
.a11y-skipper__dropdown {
	list-style: none;
	margin: 0;
	padding: 0;
}

.a11y-skipper__skips {
	display: flex;
	width: calc(100% - 1em);

	@media ( --bp-small ) {
		width: auto;
	}

}

.a11y-skipper__skips-item {
	text-align: center;
	width: 100%;

	@media ( --bp-small ) {
		text-align: left;
		width: auto;
	}
}

.a11y-skipper__skips-item + .a11y-skipper__skips-item {
	margin-left: 1em;
}

.a11y-skipper__dropdown-trigger {
	align-items: center;
	background: none;
	border: 0;
	border-bottom: 1px solid var(--c-a11y-skipper-branding-inverse);
	color: var(--c-a11y-skipper-branding-inverse);
	cursor: pointer;
	display: flex;
	font-size: inherit;
	margin: 0;
	padding: 0.33em 0.33em 0.33em 0;
	white-space: nowrap;
	width: calc(100% - 1em);

	@media ( --bp-small ) {
		width: 100%;
	}

	&::after {
		border-color: var(--c-a11y-skipper-branding-inverse) transparent transparent transparent;
		border-style: solid;
		border-width: 0.5em 0.5em 0 0.5em;
		content: "";
		height: 0;
		margin-left: auto;
		width: 0;

		@media ( --bp-small ) {
			margin-left: 0.5em;
		}

	}

	&[aria-expanded="true"] {

		&::after {
			transform: rotate(180deg);
		}

	}

}

.a11y-skipper__dropdown {
	background-clip: padding-box;
	background-color: var(--c-a11y-skipper-branding-inverse);
	border: 1px solid var(--c-a11y-skipper-branding-inverse);
	border-radius: 0.125em;
	box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.15);
	margin-top: 0.5em;
	position: absolute;
	top: 100%;
	width: 15.625em;

	&::before {
		border-color: transparent transparent var(--c-a11y-skipper-branding-inverse) transparent;
		border-style: solid;
		border-width: 0 0.5em 0.5em 0.5em;
		content: "";
		height: 0;
		left: 1em;
		position: absolute;
		top: -0.5em;
		width: 0;
	}

}

.a11y-skipper__dropdown-link {
	color: var(--c-a11y-skipper-branding);
	display: block;
	line-height: 1.4;
	padding: 0.5em 1em;

	&:hover,
	&:focus {
		background: var(--c-a11y-skipper-branding);
		color: var(--c-a11y-skipper-branding-inverse);
	}

}

.a11y-skipper__link {
	border: 1px solid var(--c-a11y-skipper-branding-inverse);
	color: var(--c-a11y-skipper-branding-inverse);
	display: block;
	padding: 0.33em 0.66em;
	text-decoration: none;

	&:focus,
	&:hover {
		text-decoration: underline;
	}

}

.a11y-skipper__icon {
	fill: var(--c-a11y-skipper-branding-inverse);
}

.a11y-skipper__close {
	background: none;
	border: 0;
	cursor: pointer;
	line-height: 1;
	margin: 0 0 0 auto;
	padding: 0;
}
