:root {

	/* Colors */
	--c-black: #333;
	--c-white: #eee;

	--c-branding: var(--c-black);
	--c-branding-inverse: var(--c-white);

	/* Breakpoints */
	@custom-media --bp-small ( min-width: 31.25em ); /* 500px */

}
